// Page
.page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    &.loading {
        visibility: hidden;
    }

    .content {
        height: 100%;
        width: 80%;
        //margin-left: 290px;
        position: relative;
        overflow: auto;
        //border-left: 1px solid var(--border-color);
    }
    .content-no-nav {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: auto;
    }

    article {
        @include wrapper;
        @include flex;
        padding: 40px;

        header {

            .super-title {
                color: var(--notice-color);
                font-size: 13px;
                text-transform: uppercase;
            }
            .breadcrumbs {
                //text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 13px;

                .sep {
                    color: var(--notice-color);
                }

                a {
                    text-decoration: none !important;
                }
            }
            h1 {
                font-size: 38px;
                margin: 0 0 10px 0;
                border: none;
                //color: var(--color) !important;

                .badge {
                    margin: 10px 0 0 15px;
                    position: absolute;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: 1;
                    text-transform: uppercase;
                    background-color: var(--badge-back-color);
                    color: var(--badge-color);
                    padding: 8px 12px;
                    @include border-radius(5px);
                    border: 1px solid var(--badge-border-color);
                    letter-spacing: .5px;
                    text-decoration: none !important;
                    white-space: nowrap;
                    cursor: default;

                    &.availability, &.availability:hover {
                        background-color: var(--badge-availability-back-color);
                        color: var(--badge-availability-color);
                        border-color: var(--badge-availability-border-color);
                    }
                    &.version, &.version:hover {
                        text-transform: lowercase;
                        background-color: var(--badge-version-back-color);
                        color: var(--badge-version-color);
                        border-color: var(--badge-version-border-color);
                    }
                    &.premium, &.premium:hover {
                        background-color: var(--badge-premium-back-color);
                        color: var(--badge-premium-color);
                        border-color: var(--badge-premium-border-color);
                    }
                }
            }
            /*a:hover {
                text-decoration: none !important;
            }*/
            
        }

        .markdown-body {
            width: 100%;
        }

        &:has(.toc) {
             .markdown-body pre {
                max-width: 690px;
            }
        }

        footer {
            margin: 60px 0 0 0;
            color: var(--notice-color);
            font-size: 13px;

        }

        blockquote {
            display: inline-block;
            background-color: var(--blockquote-back-color);
            color: var(--blockquote-color);
            @include border-radius(8px);
            border: 1px solid var(--blockquote-border-color);
            margin: 10px 0 30px 0;
            padding: 0 20px;
            align-items: center;
            font-size: 15px;
            line-height: 1.5;

            blockquote {
                margin: 0;
                padding: 0;
                border: 0;
                background-color: transparent;
            }

            p {
                margin:0;
                padding: 15px 0;
        
                &:first-child {
                    @include icon-info;
        
                    &:before {
                        font-size: 1.5em;
                        margin: 0px 5px 0 0;
                        display: block;
                        float: left;
                    }
                }
            }

            &:has(blockquote) {
                background:var(--nested-blockquote-back-color) !important;
                border: 1px solid var(--nested-blockquote-border-color) !important;
                p, a {
                    color: var(--nested-blockquote-color) !important;
                }
                a {
                    text-decoration: underline;
                }
                p:first-child {
                    &:before {
                        //@include icon-alert; //icon-notice
                        content: "\e90a" !important;
                    }
                }
            }

            ul, ol {
                margin-top: 0;
                padding: 15px 2em;
            }
            p + ul, p + ol {
                padding-top: 0;
            }
        
            & >:first-child {
                margin-top: 0;
            }
            
            & >:last-child {
                margin-bottom: 0 !important;
            }
        
            img {
                border: 0 !important;
                box-shadow: none !important;
            }
        }
        
        blockquote + h3,
        blockquote + h4,
        blockquote + h5,
        blockquote + h6  {
            margin-top: 0;
        }

        hr {
            width: 80px;
            margin-top: 0;
            border-width: 5px;
            @include border-radius();
        }

        img {
            max-width: 100%;
            //height: auto;
            margin: 10px 5px;
            display: inline-block;

            //clip-path: inset(2px 2px 2px 2px round 0);
            border: 1px solid var(--border-color);
            box-shadow: 0 2px 5px -4px rgba(0,0,0,0.3);
            @include border-radius;

            &.broken {
                display: none;
                height: 80px;
                background: var(--notice-color);
                
                .show-todo & {
                    display: initial;
                }
            }
    
            &.noborder {
                border:none;
            }
            &.noround {
                border-radius: 0;
            }
            &.nomargin {
                margin:0;
            }

            &.naked {
                border: none;
                border-radius: 0;
                @include noshadow;
            }
            &.fl {
                margin: 0 40px 20px 0;
            }
            &.fr {
                margin: 0 0 20px 40px;
            }
            &.ctr, &.center {
                margin: 20px auto;
            }
            &.inline {
                display: inline;
            }
        }

        video {
            max-width: 100%;
        }

        .draft {
            background-color: var(--draft-back-color);
            
            @include border-radius(8px);
            border: 1px solid var(--draft-border-color);
            margin: 0 0 30px 0;
            padding: 0 15px;
            font-size: 14px;
            display: flex;
            align-items: center;
            width: 300px;

            .icon {
                font-size: 25px;
                margin:0 5px 0 0;
            }
            p {
                color: var(--draft-color);
                line-height: 1.3;
                margin: 0;
            }
        }
        
        todo {
            display: none !important;
            &[visible] {
                display: block !important;
                color: var(--draft-color);
                background-color: var(--draft-back-color);
                border: 1px solid var(--draft-border-color);
                @include border-radius(8px);
                margin: 30px 0;
                padding: 20px;
        
                font-size: 14px;
                line-height: 1.5;
        
                &:before {
                    content: "Upcoming Content";
                    text-transform: uppercase;
                    font-weight: 700;
                    margin:0 0 10px 0;
                    display: block;
                }
            }
        }
        

        h2 {
            margin-top: 40px;
        }
        h3 {
            font-size:1.1em;
            margin-top: 30px;
        }

        h2:not(.static), h3:not(.static) {
            @include icon-down;
            display: block;
            cursor: pointer;
            &.collapsed {
                @include icon-right;
            }
            &:before {
                font-size: 0.7em;
            }
        }

        h2, h3, h4, h5, h6 {
            .anchor-link {
                display: none;
                margin: 0 0 0 10px;
                text-decoration: none !important;
                font-size: 1em;
                line-height: 1;
                position: absolute;
            }
            &:hover .anchor-link {
                display: inline-block;
                text-decoration: none !important;
            }
        }

        .changelog {
            padding: 0;
            margin: 0;
            
            & > li {
                list-style: none;
                margin: 10px 0;
                padding: 20px 30px;
                background-color: var(--window-back-color);
                border-left: 2px solid var(--border-color);
                position: relative;
                h3 {
                    margin-top: 0;
                    color: var(--alt-color);
                    letter-spacing: .5px;
                    font-size: 16px;
                }
                .date {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: var(--notice-color);
                    font-size: 12px;
                }
            }
        }

        .last-update {
            .icon {
                color: var(--notice-color) !important;
                font-size: 17px;

                &:hover {
                    color: var(--notice-hover-color) !important;
                }
            }
        }
    }
}

.front-section:not(.normal) {
    .content {
        font-size: 1.1em;
        line-height: 1.6;
    }
}

.next-reading {
    margin-top: 30px;

    .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.6;
        margin: 20px 0 15px 0;
        //color: @control-color;
    }

    ul {
        display: grid;
        grid-template-rows: repeat(8, min-content);
        grid-column-gap: 30px;
        grid-auto-flow: column;

        @include screen(1100px) {
            grid-template-rows: repeat(15, min-content);
        };

        @include screen(900px) {
            grid-template-rows: repeat(25, min-content);
        }
        
        @include screen(500px) {
            grid-template-rows: repeat(50, min-content);
        };
    }
}
