// Table of Contents
.toc {
    position: sticky;
    top: 0;
    margin-left: auto;
    align-self: flex-start; //Importat to make it sticky
    margin: 0 0 20px 40px;

    @include hide-if-smaller-than(700px);

    .toc-content { 
        border-left: 1px solid var(--border-color);

        position: relative;
        padding: 10px 20px 10px 0;
        width: 200px;
        font-size: 14px;
        line-height: 1.5;

        .toc-title {
            //text-transform: uppercase;
            padding-left: 20px;
            font-weight: 500;
            cursor: pointer;
            margin-bottom: 20px;
            /*color: var(--alt-color);

            &:hover {
                color: var(--color);
            }*/
        }

        ul {
            padding: 0;
            margin: 0;

            & ul {
                margin-left: 20px;

                a:before {
                    margin-left: -20px;
                }
            }
        }
        li {
            list-style: none;
            padding: 0;
            margin: 5px 0;

            a {
                display: block;
                padding-inline-start: 20px;
                position: relative;
                text-decoration: none !important;
            }

            &.truncated {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                list-style-position: inside;
                margin-left: -10px;
            }

            &.active > a {
                &:before {
                    background-color: var(--accent-color);
                    content: "";
                    height: 100%;
                    inset-inline-start: 0;
                    position: absolute;
                    top: 0;
                    width: 3px;
                    left: -2px;
                    border-radius: 5px;
                }
            }
        }
    }
}