{% assign current_page_url = page.url | append: "__docs0_url_end__" | replace: "/index__docs0_url_end__", "__docs0_url_end__" | remove: "__docs0_url_end__" %}
{% assign crumbs = current_page_url | split: "/" %}
{% assign level = crumbs | size | minus: 1 %}
{% if level > 0 %}
  {% capture html %}
  <!--googleoff: snippet-->
  <div class="breadcrumbs">
    <a href="/" class="alt">{{ site.nav_root_title }}</a> 
    <span class="sep">&nbsp;\&nbsp;</span> 

      {% for crumb in crumbs offset: 1 %}
        {% unless forloop.last %}
          
          {% assign crumb_limit = forloop.index | plus: 1 %}
          
          {% capture crumb_url %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}{% endcapture %}
          
          {% assign crumb_title = crumb | replace:'-',' ' | remove:'.html' %}
          {% for _page in site.mydocs %}
            {% assign page_url = _page.url | append: "__docs0_url_end__" | replace: "/index__docs0_url_end__", "__docs0_url_end__" | remove: "__docs0_url_end__" %}
            {% assign page_url_suffix = page_url | slice: -1, 1 %}
            {% unless page_url_suffix == "/" %}
              {% assign page_url = page_url | append: '/' %}
            {% endunless %}
            {% if page_url == crumb_url %}

              {% capture crumb_title %}{% if _page.menu_title %}{{ _page.menu_title }}{% else %}{{ _page.title }}{% endif %}{% endcapture %}
              
              {% break %}
            {% endif %}
          {% endfor %}

          <a href="{{ crumb_url }}" class="alt">{{ crumb_title }}</a> 
          <span class="sep">&nbsp;\&nbsp;</span>
        {% endunless %}
      {% endfor %}
    
    
  </div>
  <!--googleon: snippet-->
  {% endcapture %}
  {{ html | normalize_whitespace | strip }}
{% endif %}
