{% assign text_content = page.content | strip_newlines | strip %}
{% if page.draft != "no" %}
    {% if page.draft or text_content contains "<todo" or text_content == empty %}
        <!--googleoff: snippet-->
        <div class="draft">
            <div class="icon icon-pencil"></div>
            <p>
                <strong>DRAFT</strong> &nbsp;&nbsp; This page is not complete –
                if you need information on this topic, please <a href="mailto:{{ site.email }}?subject=Docs:{{ page.title | uri_escape }}">contact us</a>
            </p>
        </div>
        <!--googleon: snippet-->
    {% endif %}
{% endif %}