<header class="main">
    <div class="logo">
        <a href="/" class="noicon"><img src="/assets/images/logo.svg"></a> 
        <div class="title">Docs</div>
    </div>

    <div class="search">
        <div class="search-results hidden"></div>
        <div class="icon-search"></div>
        <input type="text" placeholder="Search">

        
    </div>

    <div class="controls">
        <a href="{% if page.url == "/contributing.html" %}/{% else %}/contributing{% endif %}" class="solo todo" title="Contributing"><span class="ctrl icon-pencil{% if page.url == "/contributing.html" %} active{% endif %}"></span></a>

        <a href="{% if page.url == "/todo.html" %}/{% else %}/todo{% endif %}" class="solo todo" title="TODOs"><span class="ctrl icon-flag{% if page.url == "/todo.html" %} active{% endif %}"></span></a>

        <a href="#" class="solo change-theme" title="Change Theme"><span class="ctrl icon-theme-auto"></span></a>
    </div>
    <div class="gotoweb">
        <a href="{{ site.website }}" class="solo">{{ site.website | replace: 'https://', '' | replace: 'www.', '' }}</a>
    </div>
</header>