<header class="main">
    <div class="logo">
        <a href="/" class="noicon"><img src="/assets/images/logo.svg" class="light"><img src="/assets/images/logo-dark.svg" class="dark"></a> 
        <div class="title">Docs</div>
    </div>

    <div class="search">
        <div class="search-results hidden"></div>
        <div class="icon-search"></div>
        <input type="text" placeholder="Search">

        
    </div>

    <div class="controls">

        <a href="#" class="solo change-theme" title="Change Theme"><span class="ctrl icon-theme-auto"></span></a>

        <hr>

        <a href="{{ site.github }}/blob/main{{ site.collections_dir }}/{{ page.path }}" class="solo gotogithub" title="Go to Github"><span class="ctrl icon-github"></span></a>
    </div>
</header>