
    {% assign sorted_pages = site.docs | sort: "order" %}
    {% for _page in sorted_pages %}
        {% assign page_url = _page.url | remove: "/index" %}
        {% assign page_url_parts = page_url | split: "/" %}
        {% assign page_level = page_url_parts | size | minus: 1 | at_least: 0 %}
        {% assign page_file = _page.url | split: "/" | last %}

        {% if _page.url contains include.url and page_level == include.level %}

            <li class="l{{ include.level }}{% if page.url == _page.url %} current{% endif %}{% if page.url contains page_url %} expanded{% endif %}">
                {% if page_file == "index" and page_level > 0 %}
                    <a href="#" class="tree-toggle"><span class="icon"></span></a>
                {% endif %}
                <a href="{{ page_url }}" class="tree-link">{% if _page.menu_title %}{{ _page.menu_title }}{% else %}{{ _page.title }}{% endif %}</a>

                {% if page_file == "index" %}
                    <ul>
                        {% assign _level = page_level | plus: 1 %}
                        {% include nav.html url=page_url level=_level %}
                    </ul>
                {% endif %}
            </li>
            {% if _page.menu_sep %}
            <li><hr></li>
            {% endif %}
        {% endif %}
    {% endfor %}
