{% assign current_page_url = page.url | append: "__docs0_url_end__" | replace: "/index__docs0_url_end__", "/__docs0_url_end__" | remove: "__docs0_url_end__" %}
<nav class="main-nav" data-navigation-source="{{ "/assets/nav.json" | relative_url }}?v={{ site.time | date: "%s" }}" data-current-url="{{ current_page_url | escape }}" aria-label="Documentation navigation" aria-busy="true">
    <ul>
        <li class="l0{% if current_page_url == "/" %} current{% endif %}" data-nav-url="/"><a href="/" class="tree-link">{{ site.nav_root_title }}</a></li>
    </ul>
</nav>
