// Put your theme colors here

// Light colors
@mixin my-light-colors {

    --accent-color: #ec5d5d;
    --accent-hover-color: #e94141;
    --accent-back-color: #f7eded;
    --accent-hover-back-color: #fae8e8;
    --accent-border-color: #8f3838;
    --accent-contrast-color: #fff;
}

// Dark colors
@mixin my-dark-colors {

    --accent-color: #ec5d5d;
    --accent-hover-color: #e94141;
    --accent-back-color: #f7eded;
    --accent-hover-back-color: #fae8e8;
    --accent-border-color: #8f3838;
    --accent-contrast-color: #fff;
}