// Put your theme colors here

// Light colors
@mixin my-light-colors {

    --accent-color: #ec5d5d;
    --accent-hover-color: #e94141;
    --accent-back-color: #f7eded;
    --accent-hover-back-color: #fae8e8;
    --accent-border-color: #8f3838;
    --accent-contrast-color: #fff;

    // DAX Syntax
    --code-comment-color: #39A03B;
    --code-string-color: #D93124;
    --code-column-color: #333;
    --code-function-color: #035ACA;
    --code-keyword-color: #035ACA;
    --code-measure-color: #333;
    --code-operator-color: #333;
    --code-number-color: #EE7F18;
    --code-parenthesis-color: #808080;
}

// Dark colors
@mixin my-dark-colors {



    // DAX Syntax
    --code-comment-color: #86C573;
    --code-string-color: #E44;
    --code-column-color: #fff;
    --code-function-color: #0095ff;
    --code-keyword-color: #0095ff;
    --code-measure-color: #fff;
    --code-operator-color: #fff;
    --code-number-color: #EE7F18;
    --code-parenthesis-color: #636363;
}