// main: main.min.less

// Common tags
* {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -ms-font-feature-settings: normal !important;
    font-feature-settings:normal;
    //text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;

    &:focus {
        outline: none;
    }
}

html { 
    height:100%; 
}
body {
    font-family: @text-font;
    font-size: 16px;
    line-height: 1.7;
    color: @text-color;
    background: @back-color;
    min-width: @min-width;
    height: 100%;
    overflow: hidden;
    
    .flexbox(flex-start, stretch, column);
    .selection(@selection-back-color, @selection-color);
    .scrollbar(@scroll-thumb-color, @scroll-track-color);

    &.dark { 
        background: @back-color-dark; 
        color: @text-color-dark;

        .selection(@selection-back-color-dark, @selection-color-dark);

        .scrollbar(@scroll-thumb-color-dark, @scroll-track-color-dark);;
    }

    //.flexbox();
    //.flex-direction(column); 

}

h1 {
    font-size: 40px;
    line-height: 1.3;
    margin: 0 0 30px 0;
}
h2 {
    font-size: 30px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
h3 {
    font-size: 22px;
    line-height: 1.5;
    margin: 20px 0 15px 0;
}
h4{
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0 15px 0;
}
h5, h6 {
    font-size: 1em;
    line-height: 1.6;
    margin: 20px 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @title-font;
    font-weight: 700;
    &.nohero {
        margin-bottom: 5px;
    }
}
img, svg {
    display: inline-block;
    vertical-align:middle; 
    border: 0;
    .border-radius(8px);
    /*image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;*/
}
hr {
    margin: 30px 0;
    border: 0;
    border-bottom: 2px solid @hr-color;
    .dark & {
        border-color: @hr-color-dark;
    }
}
form {
    display: inline;
}
input, select, textarea {
    .placeholder(@placeholder-color);
    &:focus { outline: none;}
    &::-moz-focus-inner {  border: 0; }
    color: @text-color;

    .dark & { color: @text-color-dark; }
}
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], textarea {
    user-select: text;
    .border-radius;
    background: @input-back-color;
    .dark & { background-color: @input-back-color-dark;}

    -webkit-appearance:none;
    -moz-appearance:none; 
    outline:0;
    border: 0;
    padding:5px;
    font-family: @system-font;
}
select {
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: window;
    &::-ms-expand {
        display: none;
    }
    &:focus {
        outline: none;
    }
    //cursor: pointer;
    background: @input-back-color url(@select-arrow-image) no-repeat right center;
    background-size: 26px 7px;
    color: @text-color;
    padding:5px 30px 5px 10px;
    .border-radius;

    .dark & {
        color: @text-color-dark;
        background-color: @input-back-color-dark;
        background-image: url(@select-arrow-image-dark);
    }
}
textarea {
    resize: vertical;
    line-height: 1.4;
}
code {
    user-select: text;
    background: @blockquote-back-color;
    border: 1px solid @border-color;
    padding:0 10px;
    .border-radius;
    font-size: 1em;
    line-height: 1.4;
    display: inline-block;
    margin: 2px 5px;
    .dark & {
        background-color: @blockquote-back-color-dark;
        border-color: @border-color-dark;
    }


    blockquote & {
        background: @back-color;
        margin: 0 5px;

        .dark & {
            background-color: @back-color-dark;
        }
    }
}
a {
    text-decoration: none;
    color: @accent-back-color;
    font-weight: 600;
    cursor: pointer;
    

    &[href*="mailto:"], &[href*=".com"], &[href*=".net"], &[href*=".org"], &[target="_blank"], &.cta {

        .icon;
        &:after {
            content: "\e909";
            font-size: 0.6em;
            margin: 0 4px 0 2px;
        }
    }

    &:visited {
        color: @accent-back-color;
    }
    &:hover {
        color: darken(@accent-back-color, 10%);
        //text-decoration: underline;
        transition: color .3s;

    }
    &:active {
        transform: translateY(1px);
    }

    .dark & {
        color: @accent-back-color-dark;
        &:visited {
            color: @accent-back-color-dark;
        }
        &:hover {
            color: darken(@accent-back-color-dark, 10%);
        } 
    }

    &.unseen {
        color: @text-color;
        font-weight: normal;

        &:hover {
            color: darken(@text-color, 30%);
            //text-decoration: none;
        }

        .dark & {
            color: @text-color-dark;

            &:hover {
                color: lighten(@text-color-dark, 30%);
            }
        }
    }
    &.solo, &.button, &.unseen {
        .noicon;
    }
    
}

.ctrl, .toggle {

    color: @control-color;
    margin: 0 2px;
    padding: 5px;
    line-height: 1;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    .unselectable;
    .border-radius;
    .icon;

    &:active {
        opacity: .7;
    }
    &:hover:not(.disabled), &:not(.disabled).active {
        color: lighten(@control-color, 10%);
        background-color: darken(@control-back-color, 10%);
    }
    &.disabled {

        &:active {
            transform: none;
        }

        
    }
    &:before, &:after {
        font-size: 16px;
        margin:0
    }
    .dark & { 
        color: @control-color-dark; 
        &:visited {
            color: @control-color-dark; 
        }
        &:hover:not(.disabled), &:not(.disabled).active {
            color: lighten(@control-color-dark, 10%);
            background-color: lighten(@control-back-color-dark, 10%);
        }
    }
    span {
        margin: 0 5px 0 0;
    }
}

.menu {
    .flexbox(center);

    .item {
        .flexbox(center, flex-end, column);
        margin: 0 0 0 30px;
        opacity: .7;
        font-size: 14px;

        &:first-child {
            margin-left: 0;
        }

        .selector {
            .flex(0 0 auto);
            background: transparent;
            .border-radius;
            width: 95%;
            height: 4px;
            margin-top: 2px;
            transition: background .2s ease-in-out;
        }
        &.selected {
            opacity: 1;
            .selector {
                background: @accent-back-color;
                .dark & {
                    background-color: @accent-back-color-dark;
                }
            }
        }
    }
}

.toolbar {
    margin-left: auto;
    .flexbox(center, flex-end);
    font-size: 16px;

    .ctrl {
        &:before {
            font-size: 24px;
            margin: 0;
        }
    }
}

.button, input[type=button] {
    display: inline-block;
    padding:8px 18px;
    font-size: 15px;
    font-family: @text-font;
    font-weight: 400;
    line-height: 1.2;
    .noappearence;
    border:0; 
    outline:0;
    background: @accent-back-color;
    color: @accent-color;
    text-align: center;
    //letter-spacing: 1px;
    //cursor: pointer;
    .border-radius(8px);
    transition: background .2s;

    &:hover{ 
        background: darken(@accent-back-color, 10%) !important;
        color:@accent-color; 
    }
    
    &:active /*, &:focus*/  {
        background: darken(@accent-back-color, 10%) !important; 
        color:@accent-color; 
        transform: translateY(1px);
        .shadow(inset, 1px, 1px, 1px);
    }
    &:visited { 
        background: @accent-back-color;
        color: @accent-color; 
    }
    &.button-alt {
        .shadow(0, .5px, 0, 0, darken(@control-back-color-alt, 30%));
        background: @control-back-color-alt !important; 
        border: 1px solid @control-border-color-alt;
        color: @control-color !important;

        &:hover, &:active{ 
            background: darken(@control-back-color-alt, 5%) !important;
        }
    }

    &.disabled {
        .noshadow;
        cursor: default !important;
        background: @disabled-color !important;
    }

    &.icon:before {
        font-size: 0.85em;
    }

    .dark & {
        color: @accent-color-dark !important;

        &.button-alt {
            background: @control-back-color-alt-dark !important; 
            color: @control-color-dark !important;
            border-color: @control-border-color-alt-dark !important;
            .shadow(0, .5px, 0, 0, darken(@control-back-color-alt-dark, 30%));

            &:hover, &:active{ 
                background: lighten(@control-back-color-alt-dark, 5%) !important;
            }
        }

        

    }
}

table {
    border-collapse: collapse;

    th, td {
        padding:5px 10px;
        border-collapse: collapse;
        text-align: left;
        vertical-align: middle;
        border: 1px solid @border-color;

        img {
            border: none !important;
        }
    }
    td {
        
        background-color: @table-cell-back-color;
        color: @table-cell-color;
    }
    th {
        //font-size: 11px;
        //text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9em;
        background-color: @table-header-back-color;
        color: @table-header-color;
    }
    
    tr:hover td {
        background-color: darken(@table-cell-back-color, 5%);
    }
    
    &.alternate tr:nth-child(even) td {
        background-color: @table-cell-back-color-alt;
    }
    &.alternate tr:nth-child(even):hover td {
        background-color: darken(@table-cell-back-color-alt, 5%);
    }

    .dark & {
        td {
            background-color: @table-cell-back-color-dark;
            color: @table-cell-color-dark;
            border-color: @border-color-dark;
        }
        th {
            background-color: @table-header-back-color-dark;
            color: @table-header-color-dark;
            border-color: @border-color-dark;
        }
        tr:hover td {
            background-color: darken(@table-cell-back-color-dark, 5%);
        }
        &.alternate tr:nth-child(even) td {
            background-color: @table-cell-back-color-alt-dark;
        }
        &.alternate tr:nth-child(even):hover td {
            background-color: darken(@table-cell-back-color-alt-dark, 5%);
        }
    }
}

.label {
    margin: 0 5px;
    padding: 4px 5px;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1;
    cursor: default;
    .border-radius;
    .accent;
    //.shadow;
}
label[for] {
   cursor: pointer; 
}

blockquote {
            
    background-color: @blockquote-back-color;
    padding: 0;
    
    .border-radius(8px);
    border: 1px solid @border-color;
    margin: 10px 0 30px 0 ;

    .dark & {
        background-color: @blockquote-back-color-dark;
        border-color: @border-color-dark;
    }

    p {
        margin:0;
        padding: 15px;

        &:first-child {
             .icon;
            .icon-info;

            &:before {
                font-size: 1.5em;
                margin: 0px 5px 0 0;
                display: block;
                float: left;
            }
        }
    }
    ul {
        margin-top: 0;
    }
}
.wrapper {
    padding: 30px;
    margin: 0 auto;
    max-width: 900px;
}
iframe {
    width: 100%;
}