// main: main.min.less
nav {
    position: fixed;
    height: calc(100% - 140px);
    width: 270px;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px 10px;
    //background: linear-gradient(0, #fff 0%, #fafafa 100%);
    scroll-behavior:auto;
    
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul {
        ul {
            //border-left: 2px solid @hr-color;
            
            .dark & {
                border-color: @hr-color-dark;
            }
        }
    }
    li {
        padding: 4px 20px;
        display: none;
        line-height: 1.4;

        .tree-toggle .icon {
            .icon-up;

            &:before {
                font-weight: 700;
            }
        }

        &.expanded {
            & > .tree-toggle .icon {
                .icon-down;
            }

            ul {
                margin: 5px 0 0 7px;
            }
        }
        
        hr {
            margin: 5px 0;
            width: 100%;
        }

        a {
            font-weight: normal;
            color: @text-color !important;
            
            .dark & { color: @text-color-dark !important}

            &:hover {
                color: @accent-back-color !important;
                text-decoration: none;
            }

            .noicon;

        }
        &.current > a.tree-link, & > a.tree-link:hover {
            color: @accent-back-color !important;
            
            //font-size: 17px;
        }
        &.current > a.tree-link {
            font-weight: 700;
        }

        &.l0 > a {
            font-weight: 700;
        }
        
    }
    li.expanded > ul > li, li.l0, li.l1 {
        display: block;
    }

    
}