// main: main.min.less
nav {
    //position: fixed;
    width: 20%;
    //height: calc(100% - 140px);
    overflow: hidden;
    overflow-y: auto;
    padding: 20px 0;
    scroll-behavior:auto;
    background-color: @nav-back-color;

    .dark & { background-color: @nav-back-color-dark;}
    
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    /*ul {
        ul {
            border-left: 2px solid @border-color;
            .dark & {
                border-color: @border-color-dark;
            }
        }
    }*/
    li {
        padding: 4px 0 4px 25px;
        display: none;
        line-height: 1.4;
        white-space: nowrap;
     
        &.l0, &.l1 {
            padding-left: 15px;
        }
        &.block {
            display: block;
            height: 3px;
        }
        .tree-toggle .icon {
            display: inline-block;
            .icon-right;

            &:before {
                font-weight: 700;
                margin: 0 5px 0 0;
            }
        }
        &.non-expandable {
            .tree-toggle .icon { 
                .icon-minus;
                color: @disabled-color;

                .dark & {
                    color: @disabled-color-dark;
                }
            }
        }
        &:not(.non-expandable).expanded {
            & > .tree-toggle .icon {
                .icon-down;
            }

            ul {
                margin: 5px 0 0 7px;
            }
        }
        
        hr {
            margin: 5px 0;
            width: 90%;
        }

        a {
            font-weight: normal;
            color: @text-color !important;
            
            .dark & { color: @text-color-dark !important}

            &:hover {
                color: @accent-back-color !important;
                text-decoration: none;
            }

            .noicon;

            &.tree-link {
                white-space: normal;

                &.icon:before {
                    margin-right: 8px;
                }
            }

        }
        &.current > a.tree-link, & > a.tree-link:hover {
            color: @accent-back-color !important;
            
            //font-size: 17px;
        }
        &.current > a.tree-link {
            font-weight: 700;

            &:before { 
                font-weight: normal;
            }
        }

        /*&.l0 > a {
            font-weight: 700;
        }*/
        
    }
    li.expanded > ul > li, li.l0, li.l1 {
        display: block;
    }

    
}

.burger {
    position: fixed;
    margin: 5px 3px;

    .ctrl {
        color: darken(@border-color, 20%);

        .dark & {
            color: lighten(@border-color-dark, 20%);
        }
    }
}

.gutter {
    background-color: @gutter-color;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid @border-color;
    border-right: 1px solid @border-color;

    .dark & {
        background-color: @gutter-color-dark;
        border-color: @border-color-dark;
    }

    &:hover {
        background-color: darken(@gutter-color, 5%);

        .dark & {
            background-color: darken(@gutter-color-dark, 3%);
        }
    }
    &.gutter-vertical {
        cursor: ns-resize;
        width: 100%;
    }

    &.gutter-horizontal {
        cursor: ew-resize;
        height: 100%;
    }
}