---
layout: page-no-nav
---

{{ content }}

{% assign pages_with_todo = "" | split: "" %}
{% assign sorted_pages = site.docs | sort: "order" %}
{% for _page in sorted_pages %}
    {% assign text_content = _page.content | strip_newlines | strip %}
    {% if _page.content contains "<todo" or text_content == empty %}
        {% assign pages_with_todo = pages_with_todo | push: _page %}
    {% endif %}
{% endfor %}

{% for _page in pages_with_todo %}
    {% assign flags = '' %}
    {% assign maybe_flags = _page.content | split: "<todo" %} 
    {% for _flag in maybe_flags %}
        {% if _flag contains '</todo>' %}

            {% assign _flag_content = _flag | split: "</todo>" | first %}
            {% assign _flag_attr = _flag_content | split: ">" | first | append: ">" %}
            {% assign flag_assign = _flag_attr | remove: "assign=" | remove: '"' | remove: ">" | strip_html | strip_newlines | strip %}      
            {% assign flag_content = _flag_content | remove_first: _flag_attr | remove: "<p>" | remove: "</p>" | strip_newlines | strip %}
            {% assign flags = flags | append: '<li class="icon-flag">' | append: '<span class="badge assign" data-assign="' | append: flag_assign | append: '"></span>' | append: flag_content | append: '</li>' %}

        {% endif %}
    {% endfor %}

    {% assign page_url = _page.url | remove: "index" %}
    <h3 class="nohero">{% if _page.menu_title %}{{ _page.menu_title }}{% else %}{{ _page.title }}{% endif %} <a href="{{ page_url }}?todo" class="solo" style="font-size: 0.6em">{{ page_url }}</a></h3>
    
    <ul> 
        {% if flags != empty %}
            {{ flags }}
        {% else %}
            <li class="icon-pencil">No content</li>
        {% endif %}
    </ul>
    
{% endfor %}